Data Analysis

In [4]:
#import required Libraries
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from matplotlib.gridspec import GridSpec
import missingno as msno
from plotnine import *
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [7]:
#Load datasets
courses = pd.read_csv('LHL-finalproject/datasets/courses.csv')
assessments = pd.read_csv('LHL-finalproject/datasets/assessments.csv')
studentinfo = pd.read_csv('LHL-finalproject/datasets/studentInfo.csv')
studentRegistration = pd.read_csv('LHL-finalproject/datasets/studentRegistration.csv')
studentAssessment = pd.read_csv('LHL-finalproject/datasets/studentAssessment.csv')
studentVle = pd.read_csv('LHL-finalproject/datasets/studentvle.csv', nrows=999999)
vle = pd.read_csv('LHL-finalproject/datasets/vle.csv')

Explore each file to gain an understanding of the dataset

In [8]:
courses.head()

  code_module code_presentation  module_presentation_length
0         AAA             2013J                         268
1         AAA             2014J                         269
2         BBB             2013J                         268
3         BBB             2014J                         262
4         BBB             2013B                         240

In [9]:
courses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 3 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   code_module                 22 non-null     object
 1   code_presentation           22 non-null     object
 2   module_presentation_length  22 non-null     int64
dtypes: int64(1), object(2)
memory usage: 656.0+ bytes