**Machine Learning Models**

In [19]:
#imports Libraries
import pickle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import svm
from sklearn import tree
from sklearn import metrics
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier

In [20]:
df = pd.read_csv('~/finalproject/LHL-finalproject/preprocessed_data/dataencoded.csv')

In [21]:
# input features, output result and train, test split
X = df.drop('final_result', axis=1)
y = df['final_result']

**Train Test Split**

In [22]:
X_Train, X_Test, y_Train, y_Test = train_test_split(X, y,train_size = 0.75)

In [23]:
X.head(2)

,is_banked,code_module_x,code_presentation_x,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,code_module_y,code_presentation_y
0,0,0,3,1,11,2,0,1,0,0,1
1,0,0,3,1,11,2,0,1,0,0,1

In [8]:
y.head(2)

0    2
1    2
Name: final_result, dtype: int64

In [24]:
X_Test.head(2)

,is_banked,code_module_x,code_presentation_x,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,code_module_y,code_presentation_y
2028,0,5,3,1,6,2,0,0,0,5,2
603,0,2,3,1,6,1,5,1,0,2,2

In [16]:
# Convert Dataframes to csv files
X_Test.to_csv('~/finalproject/LHL-finalProject/DeploymentFiles/Xtest.csv', index=False)

**Build Classification Algorithims**

**Decision Tree**

In [26]:
from sklearn import tree, metrics

# Create a Decision Tree classifier with 'gini' criterion
dt = tree.DecisionTreeClassifier(criterion='gini')

# Fit the model on the training data
dt = dt.fit(X_Train, y_Train)

# Predict labels for both training and test sets
train_pred = dt.predict(X_Train)
test_pred = dt.predict(X_Test)

# Calculate and print accuracy for both training and test sets
train_accuracy = metrics.accuracy_score(y_Train, train_pred)
test_accuracy = metrics.accuracy_score(y_Test, test_pred)

print("Train Accuracy Decision Tree: {0:.3f}".format(train_accuracy))
print("Test Accuracy Decision Tree: {0:.3f}".format(test_accuracy))

Train Accuracy Decision Tree: 0.999
Test Accuracy Decision Tree: 0.935

**Random Forest**

In [27]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

# Create a Random Forest Classifier
rf = RandomForestClassifier(n_estimators=10,random_state=33)

# Fit the model on the training data
rf = rf.fit(X_Train, y_Train)

# Predict labels for both training and test sets
train_pred = rf.predict(X_Train)
test_pred = rf.predict(X_Test)

# Calculate and print accuracy for both training and test sets
train_accuracy = metrics.accuracy_score(y_Train, train_pred)
test_accuracy = metrics.accuracy_score(y_Test, test_pred)

print("Train Accuracy Random Forest: {0:.3f}".format(train_accuracy))
print("Test Accuracy Random Forest: {0:.3f}".format(test_accuracy))

Train Accuracy Random Forest: 0.997
Test Accuracy Random Forest: 0.957

**Gradient Boosting**

In [28]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import metrics

# Create a Gradient Boosting Classifier
gb = GradientBoostingClassifier(n_estimators=100, learning_rate=0.1, max_depth=10, random_state=0)

# Fit the model on the training data
gb = gb.fit(X_Train, y_Train)

# Predict labels for both training and test sets
train_pred = gb.predict(X_Train)
test_pred = gb.predict(X_Test)

# Calculate and print accuracy for both training and test sets
train_accuracy = metrics.accuracy_score(y_Train, train_pred)
test_accuracy = metrics.accuracy_score(y_Test, test_pred)

print("Train Accuracy Gradient Boosting Classifier: {0:.3f}".format(train_accuracy))
print("Test Accuracy Gradient Boosting Classifier: {0:.3f}".format(test_accuracy))

Train Accuracy Gradient Boosting Classifier: 0.999
Test Accuracy Gradient Boosting Classifier: 0.945

**Support Vector Machine (SVM) Model**

In [30]:
from sklearn.svm import SVC
from sklearn import metrics

# Create an SVM Classifoer
svm = svm.SVC(decision_function_shape='ovo')

# Fit the model on the training data
svm = svm.fit(X_Train, y_Train)

# Predict labels for both training and test sets
train_pred = svm.predict(X_Train)
test_pred = svm.predict(X_Test)

# Calculate and print accuracy for both training and test sets
train_accuracy = metrics.accuracy_score(y_Train, train_pred)
test_accuracy = metrics.accuracy_score(y_Test, test_pred)

print("Train Accuracy SVM: {0:.3f}".format(train_accuracy))
print("Test Accuracy SVM: {0:.3f}".format(test_accuracy))

Train Accuracy SVM: 0.655
Test Accuracy SVM: 0.629

In [12]:
# Save Decision Tree model
with open('decision_tree_model.pkl', 'wb') as file:
    pickle.dump(dt, file)

# Save Gradient Boosting model
with open('gradient_boosting_model.pkl', 'wb') as file:
    pickle.dump(gb, file)

# Save Random Forest model
with open('random_forest_model.pkl', 'wb') as file:
    pickle.dump(rf, file)
# Save SVM model
with open('svm_model.pkl', 'wb') as file:
    pickle.dump(svm, file)

In [13]:
X_Test

,is_banked,code_module_x,code_presentation_x,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,code_module_y,code_presentation_y
675,0,4,3,1,10,2,7,1,0,2,3
1726,0,5,2,1,6,1,3,0,0,5,1
604,0,2,3,1,6,2,6,0,0,2,2
1955,0,5,3,1,4,0,0,1,0,5,1
2033,0,5,3,1,6,2,0,0,0,5,2
...,...,...,...,...,...,...,...,...,...,...,...
481,0,1,2,0,2,2,7,0,2,1,2
1561,0,5,1,1,6,2,3,0,2,5,0
2209,0,5,3,1,5,2,1,0,1,5,1
963,0,3,2,0,1,0,3,0,1,3,0
2022,0,5,3,1,6,0,8,0,0,2,2